<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hbs Page About</title>
    </head>
    <body>

        {{> header}}
        <p>
            Testo di prova.
        </p>
    
        {{> footer}}

    </body>
</html>