<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hbs Page Welcome</title>
    </head>
    <body>
       
        {{> header}}
        <p>
            Testo di prova.
        </p>
        <p>{{screamIt welcomeMessage }}</p>
        <p>{{getCurrentYear}}</p>
        
        {{> footer}}

    </body>
</html>